In [57]:
import fbprophet
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import pandas as pd
import pystan
from fbprophet import Prophet

In [13]:
df=df[['Date - UTC', 'Qualified', 'Profitable',
       'Qualified & Profitable', 'Mapping CR', 'Discovery Rate', 'Avg. Margin',
       'Avg. Auctions', 'Avg. Wins', 'Avg. Sales', 'Avg. Win %', 'ROI',
       'Overall Earnings', 'Overall Cost', 'Overall Profit']]

In [12]:
df=pd.read_excel("E:\\Baseify\Exploration daily progress.xlsx")

In [14]:
df.columns=['Date', 'Qualified', 'Profitable',
       'Qualified & Profitable', 'Mapping CR', 'Discovery Rate', 'Avg. Margin',
       'Avg. Auctions', 'Avg. Wins', 'Avg. Sales', 'Avg. Win %', 'ROI',
       'Overall Earnings', 'Overall Cost', 'Overall Profit']

In [19]:
df.head(2)

,Date,Qualified,Profitable,Qualified & Profitable,Mapping CR,Discovery Rate,Avg. Margin,Avg. Auctions,Avg. Wins,Avg. Sales,Avg. Win %,ROI,Overall Earnings,Overall Cost,Overall Profit
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-03-11,81.0,52.0,15.0,0.642,0.0,3.2379,28.022,4.413,1.333,0.1575,NaN,NaN,0.0,NaN

In [23]:
df['Year'] = df['Date'].apply(lambda x: str(x)[:4])
df['Year']

0       NaT
1      2021
2      2021
3      2021
4      2021
       ...
146    2021
147    2021
148    2021
149    2021
150    2021
Name: Year, Length: 151, dtype: object

In [24]:
df['Month'] = df['Date'].apply(lambda x: str(x)[5:7])
df['Month']

0
1      03
2      03
3      03
4      03
       ..
146    08
147    08
148    08
149    08
150    08
Name: Month, Length: 151, dtype: object

In [30]:
df['Day'] = df['Date'].apply(lambda x: str(x)[8:8])
df['Day']

0
1
2
3
4
      ..
146
147
148
149
150
Name: Day, Length: 151, dtype: object

In [41]:
df['ds'] = pd.DatetimeIndex(df['Day'])

In [42]:
df['ds']

0            NaT
1     2021-03-11
2     2021-03-12
3     2021-03-13
4     2021-03-14
         ...
146   2021-08-03
147   2021-08-04
148   2021-08-05
149   2021-08-06
150   2021-08-07
Name: ds, Length: 151, dtype: datetime64[ns]

In [48]:
qu=df[['Date','Qualified']]
qu.columns=['ds','y']

In [49]:
qu.head()

          ds     y
0        NaT   NaN
1 2021-03-11  81.0
2 2021-03-12  86.0
3 2021-03-13  89.0
4 2021-03-14  90.0

In [54]:
qu=qu.dropna()

In [55]:
qu.head()

          ds     y
1 2021-03-11  81.0
2 2021-03-12  86.0
3 2021-03-13  89.0
4 2021-03-14  90.0
5 2021-03-15  84.0

In [59]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(qu)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [231]:
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round()

In [234]:
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

In [235]:
forecast.columns=['Date', 'Minimum Qualified', 'Maximum Qualified', 'Predicted Qualified']
p1=forecast.tail(7)
p1

          Date  Minimum Qualified  Maximum Qualified  Predicted Qualified
151 2021-08-09              245.0              282.0                264.0
152 2021-08-10              245.0              285.0                264.0
153 2021-08-11              243.0              280.0                262.0
154 2021-08-12              246.0              285.0                265.0
155 2021-08-13              248.0              287.0                268.0
156 2021-08-14              249.0              285.0                267.0
157 2021-08-15              247.0              285.0                267.0

In [95]:
df.head(1)

,Date,Qualified,Profitable,Qualified & Profitable,Mapping CR,Discovery Rate,Avg. Margin,Avg. Auctions,Avg. Wins,Avg. Sales,Avg. Win %,ROI,Overall Earnings,Overall Cost,Overall Profit,Year,Month,Day,ds
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaT

In [108]:
pr=df[['Date','Profitable']]
pr.columns=['ds','y']
pr=pr.dropna()

In [229]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(pr)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round()
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [230]:
forecast.columns=['Date', 'Minimum Profitable', 'Maximum Profitable', 'Predicted Profitable']
p2=forecast.tail(7)
p2

          Date  Minimum Profitable  Maximum Profitable  Predicted Profitable
151 2021-08-09               246.0               283.0                 264.0
152 2021-08-10               246.0               284.0                 264.0
153 2021-08-11               242.0               282.0                 262.0
154 2021-08-12               246.0               283.0                 265.0
155 2021-08-13               249.0               287.0                 268.0
156 2021-08-14               248.0               286.0                 267.0
157 2021-08-15               247.0               286.0                 267.0

In [109]:
qp=df[['Date','Qualified & Profitable']]
qp.columns=['ds','y']
qp=qp.dropna()

In [110]:
qp.head(2)

          ds     y
1 2021-03-11  15.0
2 2021-03-12  15.0

In [236]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(qp)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round()
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]
forecast.tail(2)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

            ds  yhat_lower  yhat_upper  yhat
156 2021-08-14        65.0        81.0  74.0
157 2021-08-15        65.0        82.0  74.0

In [238]:
forecast.columns=['Date', 'Atleat_Qualified & Profitable', 'Atmost_Qualified & Profitable', 'Predicted_Qualified & Profitable']
p3=forecast.tail(7)
p3

,Date,Atleat_Qualified & Profitable,Atmost_Qualified & Profitable,Predicted_Qualified & Profitable
151,2021-08-09,64.0,80.0,72.0
152,2021-08-10,64.0,80.0,72.0
153,2021-08-11,63.0,79.0,71.0
154,2021-08-12,64.0,81.0,72.0
155,2021-08-13,66.0,82.0,74.0
156,2021-08-14,65.0,81.0,74.0
157,2021-08-15,65.0,82.0,74.0

In [131]:
mcr=df[['Date','Mapping CR']]
mcr.columns=['ds','y']
mcr.head(1)
mcr=mcr.dropna()

ds    1
y     1
dtype: int64

In [240]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(mcr)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]
forecast.tail(7)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

            ds  yhat_lower  yhat_upper   yhat
151 2021-08-09       0.590       0.852  0.721
152 2021-08-10       0.580       0.872  0.724
153 2021-08-11       0.590       0.876  0.734
154 2021-08-12       0.579       0.867  0.719
155 2021-08-13       0.552       0.847  0.698
156 2021-08-14       0.583       0.856  0.711
157 2021-08-15       0.574       0.858  0.708

In [242]:
forecast.columns=['Date', 'Atleat Mapping CR', 'Atmost Mapping CR', 'Predicted Mapping CR']
p4=forecast.tail(7)
p4

          Date  Atleat Mapping CR  Atmost Mapping CR  Predicted Mapping CR
151 2021-08-09              0.590              0.852                 0.721
152 2021-08-10              0.580              0.872                 0.724
153 2021-08-11              0.590              0.876                 0.734
154 2021-08-12              0.579              0.867                 0.719
155 2021-08-13              0.552              0.847                 0.698
156 2021-08-14              0.583              0.856                 0.711
157 2021-08-15              0.574              0.858                 0.708

In [137]:
dr=df[['Date','Discovery Rate']]
dr.columns=['ds','y']
dr.head(1)
dr=dr.dropna()

In [245]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(dr)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]
forecast.tail(7)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

            ds  yhat_lower  yhat_upper   yhat
151 2021-08-09      -0.136       0.127 -0.009
152 2021-08-10      -0.143       0.126 -0.013
153 2021-08-11      -0.145       0.124 -0.013
154 2021-08-12      -0.133       0.156  0.014
155 2021-08-13      -0.101       0.164  0.030
156 2021-08-14      -0.143       0.111 -0.014
157 2021-08-15      -0.149       0.126 -0.010

In [246]:
forecast.columns=['Date', 'Minimum Discovery Rate', 'Maximum Discovery Rate', 'Predicted Discovery Rate']
p5=forecast.tail(7)
p5

,Date,Minimum Discovery Rate,Maximum Discovery Rate,Predicted Discovery Rate
151,2021-08-09,-0.136,0.127,-0.009
152,2021-08-10,-0.143,0.126,-0.013
153,2021-08-11,-0.145,0.124,-0.013
154,2021-08-12,-0.133,0.156,0.014
155,2021-08-13,-0.101,0.164,0.030
156,2021-08-14,-0.143,0.111,-0.014
157,2021-08-15,-0.149,0.126,-0.010

In [247]:
avm=df[['Date','Avg. Margin']]
avm.columns=['ds','y']
avm.head(1)
avm=avm.dropna()

In [248]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(avm)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]
forecast.tail(7)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

            ds  yhat_lower  yhat_upper   yhat
151 2021-08-09       2.072       3.125  2.609
152 2021-08-10       2.164       3.260  2.716
153 2021-08-11       2.205       3.218  2.714
154 2021-08-12       2.274       3.274  2.763
155 2021-08-13       2.263       3.326  2.781
156 2021-08-14       2.189       3.278  2.712
157 2021-08-15       2.233       3.235  2.727

In [148]:
df.head(1)

,Date,Qualified,Profitable,Qualified & Profitable,Mapping CR,Discovery Rate,Avg. Margin,Avg. Auctions,Avg. Wins,Avg. Sales,Avg. Win %,ROI,Overall Earnings,Overall Cost,Overall Profit,Year,Month,Day,ds
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaT

In [250]:
forecast.columns=['Date', 'Minimum Avg Margin', 'Maximum Avg Margin', 'Predicted Avg Margin']
p6=forecast.tail(7)

In [251]:
ava=df[['Date','Avg. Auctions']]
ava.columns=['ds','y']
ava.head(1)
ava=ava.dropna()

In [252]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(ava)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]
forecast.tail(7)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

            ds  yhat_lower  yhat_upper    yhat
151 2021-08-09     -62.531      76.976   9.456
152 2021-08-10     -49.472      88.953  20.163
153 2021-08-11     -58.776      80.497   6.597
154 2021-08-12     -63.096      80.318   9.943
155 2021-08-13     -49.617      89.300  21.477
156 2021-08-14     -50.082      84.503  17.209
157 2021-08-15     -61.709      79.132   9.232

In [255]:
forecast.columns=['Date', 'Minimum Avg Auctions', 'Maximum Avg Auctions', 'Predicted Avg Auctions']
p7=forecast.tail(7)

In [256]:
avw=df[['Date','Avg. Wins']]
avw.columns=['ds','y']
avw.head(1)
avw=avw.dropna()

In [258]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(avw)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [259]:
forecast.columns=['Date', 'Minimum Avg Wins', 'Maximum Avg Wins', 'Predicted Avg Wins']
p8=forecast.tail(7)

In [260]:
avs=df[['Date','Avg. Sales']]
avs.columns=['ds','y']
avs.head(1)
avs=avs.dropna()

In [261]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(avs)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [262]:
forecast.columns=['Date', 'Minimum Avg Sales', 'Maximum Avg Sales', 'Predicted Avg Sales']
p9=forecast.tail(7)

In [263]:
avwp=df[['Date','Avg. Win %']]
avwp.columns=['ds','y']
avwp.head(1)
avwp.isna().sum()

ds     1
y     26
dtype: int64

In [264]:
m1=avwp['y'].mean()
m1

0.23355680000000004

In [265]:
avwp['y'].fillna(value=m1, inplace=True)

C:\Users\ok\anaconda3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [266]:
avwp.isna().sum()

ds    1
y     0
dtype: int64

In [267]:
avwp=avwp.dropna()

In [268]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(avwp)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [271]:
forecast.columns=['Date', 'Minimum Avg Win %', 'Maximum Avg Win %', 'Predicted Avg Win %']
p10=forecast.tail(7)

In [285]:
roi=df[['Date','ROI']]
roi.columns=['ds','y']
roi.head(1)
roi.isna().sum()

ds      1
y     103
dtype: int64

In [286]:
m2=roi['y'].mean()
m2

-0.15904166666666666

In [288]:
roi['y'].fillna(value=m2, inplace=True)

In [290]:
roi=roi.dropna()

In [291]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(roi)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [292]:
forecast.columns=['Date', 'Minimum ROI', 'Maximum ROI', 'Predicted ROI']
p11=forecast.tail(7)

In [293]:
ove=df[['Date','Overall Earnings']]
ove.columns=['ds','y']
ove.head(1)
ove.isna().sum()

ds      1
y     108
dtype: int64

In [294]:
m3=ove['y'].mean()
m3

20.71756461046512

In [295]:
ove['y'].fillna(value=m3, inplace=True)

C:\Users\ok\anaconda3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [296]:
ove=ove.dropna()

In [297]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(ove)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [298]:
forecast.columns=['Date', 'Minimum Overall Earnings', 'Maximum Overall Earnings', 'Predicted Overall Earnings']
p12=forecast.tail(7)
p11

          Date  Minimum ROI  Maximum ROI  Predicted ROI
151 2021-08-09       -1.384        0.919         -0.206
152 2021-08-10       -1.069        1.140          0.028
153 2021-08-11       -1.426        0.887         -0.258
154 2021-08-12       -1.285        0.947         -0.114
155 2021-08-13       -1.553        0.769         -0.326
156 2021-08-14       -1.485        0.898         -0.289
157 2021-08-15       -1.523        0.823         -0.393

In [299]:
ovc=df[['Date','Overall Cost']]
ovc.columns=['ds','y']
ovc.head(1)
ovc.isna().sum()

ds     1
y     17
dtype: int64

In [300]:
m4=ovc['y'].mean()
m4

16.43240619402985

In [301]:
ovc['y'].fillna(value=m4, inplace=True)

C:\Users\ok\anaconda3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [302]:
ovc=ovc.dropna()

In [303]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(ovc)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(3)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [306]:
forecast.columns=['Date', 'Minimum Overall Cost', 'Maximum Overall Cost', 'Predicted Overall Cost']
p13=forecast.tail(7)

In [307]:
ovp=df[['Date','Overall Profit']]
ovp.columns=['ds','y']
ovp.head(1)
ovp.isna().sum()

ds    1
y     8
dtype: int64

In [308]:
m5=ovp['y'].mean()
m5

-9.168441621328672

In [309]:
ovp['y'].fillna(value=m5, inplace=True)

C:\Users\ok\anaconda3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [310]:
ovp=ovp.dropna()

In [313]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(ovp)
future = m.make_future_dataframe(periods=8,freq='D')
forecast = m.predict(future).round(2)
forecast=forecast[['ds', 'yhat_lower', 'yhat_upper', 'yhat']]

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [315]:
forecast.columns=['Date', 'Minimum Overall Profit', 'Maximum Overall Profit', 'Predicted Overall Profit']
p14=forecast.tail(7)
p14

,Date,Minimum Overall Profit,Maximum Overall Profit,Predicted Overall Profit
151,2021-08-09,-109.46,50.46,-27.38
152,2021-08-10,-95.46,66.90,-14.94
153,2021-08-11,-98.68,58.97,-21.03
154,2021-08-12,-97.17,58.42,-18.67
155,2021-08-13,-101.77,53.57,-25.93
156,2021-08-14,-110.54,51.83,-26.44
157,2021-08-15,-115.66,49.81,-30.72

In [317]:
df1=[p1,p2,p3]
df1

[          Date  Minimum Qualified  Maximum Qualified  Predicted Qualified
 151 2021-08-09              245.0              282.0                264.0
 152 2021-08-10              245.0              285.0                264.0
 153 2021-08-11              243.0              280.0                262.0
 154 2021-08-12              246.0              285.0                265.0
 155 2021-08-13              248.0              287.0                268.0
 156 2021-08-14              249.0              285.0                267.0
 157 2021-08-15              247.0              285.0                267.0,
           Date  Minimum Profitable  Maximum Profitable  Predicted Profitable
 151 2021-08-09               246.0               283.0                 264.0
 152 2021-08-10               246.0               284.0                 264.0
 153 2021-08-11               242.0               282.0                 262.0
 154 2021-08-12               246.0               283.0                 265.0
 155 2021-08-13               249.0               287.0                 268.0
 156 2021-08-14               248.0               286.0                 267.0
 157 2021-08-15               247.0               286.0                 267.0,
           Date  Atleat_Qualified & Profitable  Atmost_Qualified & Profitable  \
 151 2021-08-09                           64.0                           80.0
 152 2021-08-10                           64.0                           80.0
 153 2021-08-11                           63.0                           79.0
 154 2021-08-12                           64.0                           81.0
 155 2021-08-13                           66.0                           82.0
 156 2021-08-14                           65.0                           81.0
 157 2021-08-15                           65.0                           82.0

      Predicted_Qualified & Profitable
 151                              72.0
 152                              72.0
 153                              71.0
 154                              72.0
 155                              74.0
 156                              74.0
 157                              74.0  ]

In [333]:
print(p14)

          Date  Minimum Overall Profit  Maximum Overall Profit  \
151 2021-08-09                 -109.46                   50.46
152 2021-08-10                  -95.46                   66.90
153 2021-08-11                  -98.68                   58.97
154 2021-08-12                  -97.17                   58.42
155 2021-08-13                 -101.77                   53.57
156 2021-08-14                 -110.54                   51.83
157 2021-08-15                 -115.66                   49.81

     Predicted Overall Profit
151                    -27.38
152                    -14.94
153                    -21.03
154                    -18.67
155                    -25.93
156                    -26.44
157                    -30.72